{% extends "main/base-user.html" %}
{% block title %}登录|图书管理系统{% endblock %}

{% block body %}
<img style="position: absolute;" src="../static/background.jpg" width="100%" height="100%"/>
<div class="login-main" style="top: 70px;">
    <header class="layui-elip">登录</header>
    <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-input-inline">
            {{ form.account(class="layui-input",placeholder="账号") }}
        </div>
        <div class="layui-input-inline">
            {{ form.password(class="layui-input",placeholder="密码") }}
        </div>
        <div class="layui-input-inline login-btn">
            {{ form.submit(class="layui-btn") }}
        </div>
        <hr/>
        <p><a style="color: antiquewhite;" href="mailto:codingkai001@gmail.com" class="fr">忘记密码?请联系系统管理员</a></p>
    </form>

</div>
{% endblock %}